@using WebHoaHuongDuong.Models
@model IEnumerable<DataModel.Product>
@{
    ViewBag.Title = "Shopping Cart ";
}
<div class="benphai float_l">
    <div class="bg_detail_sp">
        <div class="module_title"><ul class="unlnavi" style="width: 94%">
                <li class="acti page_small"><a href="javascript:void()">Giỏ Hàng Của Bạn</a></li>
            </ul>
        </div>
        <table class="table table-hover" id="table-cart">
            <tr>
                <th class="hide-id">Id</th>
                <th>Sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </tr>
            @foreach (var p in Model)
            {
                <tr>
                    <td class="hide-id">@p.Product_ID</td>
                    <td id="cart-product-thumb"><img src="/@p.Image"/></td>
                    <td>@p.Name</td>
                    <td>@p.Price VNĐ</td>
                    <td><input class="quantity" value="@p.NumberInStock" data-id="@p.Product_ID" size="3"></td>
                    <td id="@p.Product_ID">@Html.FormatValue(p.Price * p.NumberInStock, "{0}") VNĐ</td>
                    <td>
                        <img class="remove-from-cart" data-id="@p.Product_ID" src="http://v1.webbnc.net/themes/web/43/cart/cart-remove.jpg" />
                    </td>
                </tr>
            }
            <tr>
                <th colspan="5" style="text-align: right">Total:</th>
                <th id="nn-cart-amount">@ShoppingCart.Cart.Total VNĐ</th>
                <th></th>
            </tr>
        </table>
        <form action="/Cart/Clear" method="post">
            <button class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span>
                Refresh Giỏ Hàng
            </button>
           @* <a href="/Order/Checkout" class="btn btn-default">
                <span class="glyphicon glyphicon-th-list"></span>
                Thanh Toán
            </a>*@
        </form>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            // Xóa khỏi giỏ
            $(".remove-from-cart").click(function () {
                pid = $(this).attr("data-id");
                tr = $(this).parents("tr");// tim <tr> chua <img> bi click
                $.ajax({
                    url: "/Cart/Remove",
                    data: { id: pid },
                    success: function (response) {
                        $("#in_cart").html(response.Count);
                        $("#nn-cart-amount").html(response.Total + " VNĐ");
                        tr.hide(500);
                    }
                });
            });
            // Cập nhật số lượng
            $(".quantity").keyup(function () {
                pid = $(this).attr("data-id");
                qty = $(this).val();
                $.ajax({
                    url: "/Cart/Update",
                    data: { id: pid, quantity: qty },
                    success: function (response) {
                        $("#in_cart").html(response.Count);
                        $("#nn-cart-amount").html(response.Total + " VNĐ");
                        $("#" + pid).html(response.Amount + " VNĐ");
                    }
                });
            });
        });
    </script>
}