@model BusinessEntities.CategoryEntity

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Tạo danh mục mới</h1>
<br/>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-label">
           Tên danh mục
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            Chọn danh mục cha
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Parent_ID, new SelectList(ViewBag.CategoryDropdown, "Category_ID", "Name"), "Không có danh mục cha")
            @Html.ValidationMessageFor(model => model.Parent_ID)
        </div>

        <p>
            <input type="submit" value="Tạo" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Về danh sách danh mục", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
