@model PagedList.IPagedList<BusinessEntities.CategoryEntity>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Danh mục sản phẩm</h2>
@using (Html.BeginForm("Index", "Category", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">

        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Nhập từ khóa tìm kiếm" })

    </div>
    <input type="submit" value="Tìm kiếm" class="btn btn-default" />
}
<table>
    <tr>
        <th>
            Tên danh mục
        </th>
        <th>
            Danh mục cha
        </th>
        <th>
            Level
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "Edit", new { id=item.Category_ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Category_ID })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))