@using WebHoaHuongDuong.Models
<div class="top">
    <div class="head_top">

        <div class="search">
            <form method="post" id="idf" action="~/Product/Search" name="form_timkiem_sp">
                <input value="" class="top_input input-group input-group-lg" id="search" type="text" placeholder="Tìm kiếm từ khóa..." name="keywords" />
                <button class="nut_search" type="submit" form="idf"></button>
            </form>
        </div>
        <!--search-->
        <div class="cart">
            <div id="cart_expand"><a class="cart_link" href="#">Giỏ hàng:<span id="in_cart"> @ShoppingCart.Cart.Count</span>Sản phẩm</a> </div>
            <style type="text/css">
            </style>
            @* [if IE 7]>*@
            <style>
                .cart-mini {
                    display: none;
                }
            </style>
            @*  <![endif]*@
            <div class="cart-mini" id="cart_mini">
                <h3 class="title">Giỏ hàng mini</h3>
                <span class="close" title="Đóng lại"></span>
                <div id="cart_loader">
                    <ul id="cart-list">
                        @foreach (var item in ShoppingCart.Cart.Items)
                        {

                            <li id="gio_hang_sp_1563913">
                                <div>
                                    <a href="" target="_blank" title="@item.Name"><img src="/@item.Image" alt="@item.Name" class="cart-img" title="@item.Name"></a>
                                    <h3>
                                        <a href="" title="@item.Name" target="_blank">@Html.Truncate(item.Name, 20)</a>
                                    </h3>
                                    <h2>
                                        @item.Price <u>đ</u>
                                    </h2>
                                    <a href="javascript:;" class="cart-less">x</a><span class="sluong_1563913">@item.NumberInStock</span>
                                    <a href="javascript:;" class="cart-remove" onclick="delorder_gh(1563913, 'Mặc định');" title="Xóa sản phẩm">Xóa</a>
                                    <div class="clearfix"></div>
                                </div>
                            </li>

                        }
                    </ul>
                    <p class="total">
                        Tổng đơn hàng:
                        <b id="gio_hang_tong">@ShoppingCart.Cart.Total</b>
                    </p>
                </div>
                <a href="~/Cart/Index" class="cart-enter">Vào giỏ hàng</a>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#cart_expand').click(function () {
                        $('body').append("<div class='cart-overlay'></div>");
                        $('.cart-overlay').css({
                            'background': '#222222',
                            'opacity': '0.5',
                            'width': $(document).width(),
                            'height': $(document).height(),
                            'z-index': 9999,
                            'position': 'absolute',
                            'top': '0px',
                            'left': '0px'
                        });
                        $('#cart_mini').show(500);
                    });
                    $('.close').click(function () {
                        $('.cart-overlay').remove();
                        $('#cart_mini').hide(500);
                    });
                });
            </script>
        </div>
        <!--cart-->
    </div>
</div>
