@model IEnumerable<BusinessEntities.ProductEntity>
    <div class="moddum">
        <div class="border1">
            <span class="vach_top"></span>
            <div class="jwr">
                <div class="jcarou2 jused">
                    <ul>
                        @foreach(var item in Model)
                        {
                        <li>
                            <div class="sp_pro_block relative">
                                <div class="khung_b relative">
                                    <a href="~/Product/ProductDetail?id=@item.Product_ID" title="@item.Name">
                                        <img src='~/@item.Image.Trim()' alt="@item.Name" title="@item.Name" /></a>
                                </div>
                                <div class="visible">
                                    <p class="space5s"><a class="ten_sp tip" title="@item.Name" href="~/Product/ProductDetail?id=@item.Product_ID">@item.Name</a></p>
                                    <p class="space5s price-format"><span class="gia1" style="font-size: 17px">@item.Price VNĐ</span></p>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
            </div>
            <div class=" float_r"><a href="~/Category/ViewIndex" class="xemtatca_blok"><i>Xem tất cả</i></a></div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
