@model PagedList.IPagedList<BusinessEntities.ProductEntity>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Sản phẩm</h2>
@using (Html.BeginForm("Index", "Product", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">

        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Nhập từ khóa tìm kiếm" })

    </div>
    <input type="submit" value="Tìm kiếm" class="btn btn-default" />
}
<table class="table table-bordered table-striped">
    <tr>

        <th>
            Tên sản phẩm
        </th>
        <th>
            Loại
        </th>
        <th>
            Hình ảnh
        </th>
        <th>
            Ngày tạo
        </th>
        <th>
            Giá
        </th>
        <th>
            Số lượng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberInStock)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.Product_ID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.Product_ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.Product_ID })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))