@model DataModel.Banner

@{
    ViewBag.Title = "Create";
}

<h1>Thêm Banner</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="form-group">
            @Html.Label("Ảnh banner*", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <section>
                    <div id="FormContent">
                        <form id="FormUpload"
                              enctype="multipart/form-data" method="post">
                            <input type="file"
                                   name="UploadedFile" id="UploadedFile" />
                            <button class="btn btn-primary start" onclick="UploadFile();"
                                    type="button" id="Submit_btn" style="margin-top: 10px;">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Upload</span>
                            </button>
                        </form>
                        <div class="progress CustomProgress">
                            <div id="FileProgress"
                                 class="progress-bar" role="progressbar"
                                 aria-valuenow="0" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 0%;">
                            </div>
                        </div>
                        <p id="messageUpload"></p>
                        <div class="form-group">
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.Thumbnail, new {@readonly = true, Styles = "background-color: #C5EFF7"})
                                @Html.ValidationMessageFor(model => model.Thumbnail)
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="editor-label">
            Thứ tự
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Order)
            @Html.ValidationMessageFor(model => model.Order)
        </div>

        <div class="editor-label">
            Chọn làm Banner
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActivated)
            @Html.ValidationMessageFor(model => model.IsActivated)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Về danh sách", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
